# Random crap
.DS_Store

# Secrets etc
.env

# Temporary files
tmp/

# VM ISO etc
*.zip
*.iso

# VM state
*.utm/

# Shared directory
mount/

# Assembled/compiled/created files
bin/
*.img
*.img.lock

# Log files
bochslog.txt
